# All files are checked into the repo with LF
* text=auto eol=lf

# These files are checked out using CRLF locally
*.bat eol=crlf

# Files excluded from the Composer package distribution
/.editorconfig    export-ignore
/.gitattributes   export-ignore
/.gitignore       export-ignore
/.github          export-ignore
/CHANGELOG.md     export-ignore
/stubs-finder.php export-ignore
/bricks          export-ignore
